/* ALGEMEEN */


body {
    overflow-x: hidden;	
    text-align:left;
    font-family: sofia-pro, sans-serif;
    font-weight:300;

}

h1 {
    font-family: sofia-pro, sans-serif;
    font-size: 120px; 
    line-height: 100px;
    font-weight:700;
    color:black;
}


h2 {
    font-family: sofia-pro, sans-serif;
    font-size: 45px;
    margin-bottom: 40px;
    font-weight:700;
    color:black;

}
h3 {
    font-family: sofia-pro, sans-serif;
    font-size: 24px;
    font-weight:700;
    color:black; 
}

p{
}


button{
    margin-top:20px;
    margin-bottom:20px;
    background-color:red;
    color:white;
    padding: 13px;
    padding-left:40px;
    padding-right: 40px; 
    text-align:center !important; 
    border-radius: 50px;
    border:none;
}

button a:hover{
background-color: aquamarine; 
}
