
@font-face {
    font-family: "Circular std";
    src: url();
    src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"),
    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
    font-weight: normal; 
    }



/* ALGEMEEN */


body {
	font-family: 'Circular', sans-serif;
    overflow-x: hidden;	
    text-align:left;
}

h1 {
    font-family: 'Circular';
    font-size: 150px; 
}


h2 {
	font-size: 40px;

}
h3 {
	font-size: 24px;

}

p{
    font-family: roboto light;
    font-size: 16px;
}

.green{
    color:green !important;
    background-color:green; 
}



button{
    background-color:black;
    color:white;
    padding: 3px;





}