.body{
    margin-left: 200px;
    margin-right: 200px;
}

.header{
    margin-top:40px;
    text-align: left;
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
}

row{
    margin-top: 40px;
    margin-bottom: 40px;
}

.navigation{
    background-color:black;
    color:white;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    width: 60px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
  }
  
  li a {
    display: block;
  }