/* Webdesign stijlen */

.navigation{
    background-color:lightgray;
    color:black;
    width:100%;
    text-align:center;
    overflow: hidden;
    padding-left:14%;
}

.navigation a {
float: left;
color: black;
text-align: center;
text-decoration: none;
padding:35px 95px;
font-size: 15px;
font-weight:300;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.navigation li a {
    display: block;
  }

  .navigation a:hover {
    color:
  }

.col-md-6-primary{
    background-color:white;
    color:white; 
    width:48%;
    margin:1%;
    padding:60px;
    height:550px;
}

.col-md-6-primary-3{
    background-color: white;
    width:48%;
    margin:1%;
    color:white; 
    padding:60px;
    height:550px;
}

section {padding:2rem;}
.bg-primary {background-color:white;}
.bg-gray {background-color:none; height:auto;}
.bg-background {background-color:lightgray; height:auto;}
.bg-white {background-color:lightgray; height:auto;}
.bg-footer {background-color:black; height:300px; margin-top:140px; margin-bottom: 0px;}

footer{
    color:white;
    font-size:13px;
    margin-top: 50px;
    text-align:center;
}
