
.navigation{
    background-color:rgba(211, 211, 211, 0.253);
    color:black;
    width:100%;
    text-align:center;
    overflow: hidden;
    padding-left:14%;
}

.navigation a {
float: left;
color: black;
text-align: center;
text-decoration: none;
padding:35px 95px;
font-size: 15px;
font-weight:300;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.navigation li a {
    display: block;
  }

  .navigation a:hover {
    color:
  }



section {padding:2rem;}
.bg-primary {background-color:white;}
.bg-gray {background-color:none; height:auto;}
.bg-background {background-color:none; height:auto;}
.bg-white {background-color:lightgray; height:auto;}
.bg-footer {background-color:black; height:300px; margin-top:140px; margin-bottom: 0px;}

footer{
    color:white;
    font-size:13px;
    margin-top: 50px;
    text-align:center;
}


.card{
    text-align:center;
    border-radius:0;
    border:none;
    margin-top:-30px
}

.card-img-overlay{
    background-color:rgba(0, 0, 0, 0.116);
    border-radius:0;
}

.card-title{
    margin-top:200px;
}

.card-icon{
width:40px;
float:right;}

.card :hover{
    background-color:rgb(255, 0, 0);
    transition-delay: ease-in 10s 10s;
}